<div class="row">
  <div class="col-xs-6">
    <div><b>Account ID:</b> {{account.accountId}}</div>
    <div><b>First Name:</b> {{account.firstName}}</div>
    <div><b>Email:</b> {{account.email}}</div>
    <div><b>Address Line 1:</b> {{account.addressLine1}}</div>
    <div><b>Address Line 2:</b> {{account.addressLine2}}</div>
    <div><b>Address Line 3:</b> {{account.addressLine3}}</div>
    <div><b>Tax Type:</b> {{account.taxType}}</div>
    <div><b>Tax ID:</b> {{account.taxId}}</div>
  </div>
  <div class="col-xs-6">
    <div><b>Last Name:</b> {{account.lastName}}</div>
    <div><b>Gender:</b> {{account.gender}}</div>
    <div><b>Phone:</b> {{account.phone}}</div>
    <div><b>Country:</b> {{account.country}}</div>
    <div><b>State:</b> {{account.state}}</div>
  </div>
</div>
